@textcolor: #333333;
@bodycolor: #f2f2f2;
@blackcolor: #000;
@graycolor: #e5e5e5;
@darkgraycolor: #eeeeee;
@bluecolor: #81b3d2;
@whitecolor: #fff;
@errorcolor: #ff5c5c;

@bodyfont: PTSansRegular, arial, sans-serif;
@fontbold: PTSansBold, arial, sans-serif;


@mobile-widths: ~"(width:480px)";
@mobile-width-only: ~"(max-width:767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";