.wrapper {
  .container();
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.page__name {
  padding: 0 20px 20px 20px;
}
.page__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: @fontbold;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color: @blackcolor;
}
.page__title-intro {
  text-align: center;
}
@media @tablet-widths { 
  .page__name {
    width: 490px;
    margin: 0 auto;
  }
}
.inner__wrapper .intro {
  padding: 67px 0;
  background-position: center bottom;
  background-size: auto;
}
.inner__wrapper .intro__img {
  width: 230px;
  height: 40px;
}
@media @tablet-widths { 
  .inner__wrapper .intro {
    padding: 100px 0 120px 0; 
  }
  .inner__wrapper .intro__img {
    width: 458px;
    height: 78px;
  }
  .inner__wrapper .page__title {
    font-size: 30px;
  }
}